@use "../variables" as *;
@use "../../mixins/mixins.scss" as *;


.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
  color: $secondary-color; // Użyj zmiennej z pliku variables.scss
}

.heading span{
  color: $secondary-color; 
}


.contact {
  padding: 10px; 
  background-color: $background-color; // Użyj zmiennej z pliku variables.scss

  &__heading { // Klasa dla nagłówka sekcji
    @extend .heading; // Dziedziczy style z głównego nagłówka
    text-align: center; 

    span { // Style dla elementu span w nagłówku
      color: $secondary-color; // Użyj zmiennej z pliku variables.scss
    }
  }

  &__form { // Klasa dla formularza
    max-width: 600px;
    margin: 0 auto;
    text-align: center; 
  }

  &__input-group { // Klasa dla grupy inputów
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    input,
    textarea {
      padding: 1rem;
      border: 1px solid $button__border-color; // Użyj zmiennej z pliku variables.scss
      border-radius: $button__border-radius; // Użyj zmiennej z pliku variables.scss
    }
  }

  &__button { // Klasa dla przycisku
    @include button__styles($background-color, $secondary-color, 10px 20px, 20px, 16px, 200px, 50px);
  }
}

.contact .best-car-landpages {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    margin: 2rem 0; /* Add spacing */
}

@media (max-width: 768px) { /* Target smartphones and tablets */
    .contact h2 {
        font-size: 3rem; /* Adjust subheading size */
        text-align: center; /* Center-align subheading */
        margin: 2rem 0; /* Add spacing around subheading */
    }
}