@use "../variables" as *;

.footer {
  background-color: $background-color;
  color: $secondary-color;
  padding: 2rem 0;
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__column {
    flex: 1;
    padding: 1rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  p {
    margin-top: 2rem;
    font-size: 1rem;
  }
}