@use "../variables" as *;
@use "../home" as *;


button  {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $hover-color;
    }
  
    &:active {
      background-color: $active-color;
    }
  
    @media (max-width: 768px) {
      padding: 8px 16px;
      font-size: 14px;
    }
  }