@use "../variables" as *;
@use "../../mixins/mixins.scss" as *;

// Home page container
.home__container {
    min-height: 100vh;
    padding: 10% 5%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.home__content {
    background-color: $background-color;
    width: 50%;
    padding: 3rem;
    color: $secondary-color;
    text-align: center;

    &-h1 {
        padding-top: 10rem;
        font-weight: 700;
        line-height: 3rem;
        font-size: 4rem;
        text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
            text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
        }
    }

}
.home__content-animation {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    min-height: 3rem; // Zapobiega skakaniu tekstu
  
    .fade-text {
      display: inline-block;
      color: $secondary-color;
      font-weight: bold;
      transition: opacity 0.5s ease-in-out;
    }
  
    .hidden {
      opacity: 0;
    }
  
    .visible {
      opacity: 1;
    }
  }

// Animacja tekstu
@keyframes words {
    0%, 100% { content: "Web Developer"; }
    25% { content: "Frontend Developer"; }
    50% { content: "React Developer"; }
    75% { content: "JavaScript Enthusiast"; }
}

// Stylizacja ikon społecznościowych
.home__content-socjalicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.home__content-social {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

// Przycisk
.home__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.home__button-github {
    @include button__styles($background-color, $secondary-color, 10px 20px, 20px, 16px, 200px, 50px);
}

.home__button-linkedin {
    @include button__styles($background-color, $secondary-color, 10px 20px, 20px, 16px, 200px, 50px);
}

// Stylizacja obrazka profilowego
.home__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    flex-grow: 1;

    img {
        width: 60%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 0px 20px 10px black;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 30px $hover-color;
        }
    }
}

.itproject__container-box a {
    text-decoration: none; /* Usuwa podkreślenie linku */
    display: block; /* Sprawia, że link zajmuje całą szerokość boxu */
}

.itproject__container-box a:hover {
    opacity: 0.8; /* Delikatne przyciemnienie po najechaniu */
  }