@use "../variables" as *;

// navbar
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 80%;
    height: 10vh;
    padding: 2rem 12% 2rem 12%;
    text-decoration: none;
    background-color: $background-color;
    z-index: 5;
    font-weight: 800;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    // &.hidden {
    //     transform: translateY(-100%); // Ukrywa navbar poza ekranem
    //     opacity: 0;
    // }

    // &.visible {
    //     transform: translateY(0); // Pokazuje navbar
    //     opacity: 1;
    // }
}

.navbar__container a {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar__logo {
    font-size: 3rem;
    color: $secondary-color;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: inline-flex; /* zmienione z flex */
    align-items: center; /* dodane dla wyrównania elementów w logo, jeśli to konieczne */
    gap: 15px;
    text-shadow: 0 0 5px $shadow-color;
    
}

.navbar__logo:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
    text-shadow: 0 0 6px $shadow-color;
}


.navbar__container-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 3rem;
}

.navbar__container-list li{
    width: 100px;
    display: inline;
    list-style: none;
    margin-left: 3rem;
    font-size: 1.2rem;
    
}

.navbar__container-list a {
   color: $secondary-color;
   cursor: pointer;
   text-shadow: 1px 1px 3px $shadow-color;
   transition: 0.3s ease-in-out;
}

.navbar__container-list a:hover{
    display: inline;
    text-shadow: 2px;
    transform: scale(1.02);
    color: $hover-color;
    text-decoration: none ;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


