@use "../variables" as *;
//@use "scss:colors" ;

.itproject__container{
    background-color: $background-color;
    color: $secondary-color;
    
}

.itproject__container-box{
    background-color: $background-color;
    padding: 20px;
    margin: 10px;
    border: 3px solid rgba(17, 12, 12, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: $background-color 0.3s ease, color 0.3 ease;
    &:hover {
        
        color: $hover-color;
        box-shadow: 0 0 50px $hover-color;
    }

}