@mixin button__styles($background-color, $button__text-color, 
$padding: 10px 20px, $border-radius: 5px, $font-size: 16px, 
$width: auto, $height: auto) {
    background-color: $background-color;
    color: $button__text-color;
    padding: $padding;
    border: 2px solid black;
    border-radius: 5px;
    font-size: $font-size;
    cursor: pointer;
    transition: $background-color 0.3s ease;
    width: $width; // Dodane
    height: $height; // Dodane

  margin: 10px;
  
    &:hover {
      background-color: red;
    }
  
    &:active {
      background-color: yellow;
    }
  }