@use "../scss/variables" as *;

@mixin button__styles($background-color, $button__text-color, 
$padding: 10px 20px, $border-radius: 10px, $font-size: 16px, 
$width: auto, $height: auto) {
    background-color: $background-color;
    color: $button__text-color;
    padding: $padding;
    border: 2px solid black;
    border-radius: $border-radius;
    font-size: $font-size;
    cursor: pointer;
    transition: $background-color 0.3s ease,color 0.3 ease;
    width: 80px; // Dodane
    height: 30px; // Dodane
    margin: 10px;
    display: flex;             // Włącz flexbox
    justify-content: center; // Wyśrodkuj w poziomie
    align-items: center;     // Wyśrodkuj w pionie
    text-decoration: none; // Dodano właściwość usuwającą podkreślenie

  
    &:hover {
      background-color: $background-color;
      color: $hover-color;
      border-radius: $border-radius;
      box-shadow: 0 0 5px $hover-color;
    }
  
    &:active {
      background-color: $background-color;
      color: $active-color;
      border-radius: $border-radius;
      box-shadow: 0 0 10px $active-color;
    }
  }