  // Deklaracja zmiennych

  $primary-color: rgba(56, 163, 165, 1);   // kolor główny
  $secondary-color: rgba(87, 204, 153, 1) ;  // kolor pomocniczy
  $button-border-color: rgba(188, 71, 73, 1) ; // obramowanie przycisków i articles
  $button-color: rgba(128, 237, 153,1);// button


  $font-size: 16px;  // rozmiar czcionki