  // Deklaracja zmiennych

  $background-color:rgba(46, 79, 55, 1);
  $primary-color: rgb(33, 36, 36);   // kolor główny  #38a3a5
  $secondary-color: rgb(149, 109, 53) ;  // kolor pomocniczy
  $button__border-color: rgba(188, 71, 73, 1) ; // obramowanie przycisków i articles
  $button__border-radius:rgba(188, 71, 73, 1);
  $button__text-color: $background-color;
  $padding: 20px;
  $shadow-color: rgb(49, 114, 66);
  $click-color: rgba(56, 102, 65, 1); //#386641

  // button colors

  $button-color: rgba(128, 237, 153,1); // button
  $hover-color: darken($primary-color, 10%);
  $active-color: darken($primary-color, 20%);
  
  // font

  $font-size: 16px;  

  // Rozmiary czcionek pomocnicze

  $font-size-small: 0.875rem;
  $font-size-base: 1rem;
  $font-size-large: 1.25rem;

  // Odstępy
 
  $spacing-small: 0.5rem;
  $spacing-medium: 1rem;
  $spacing-large: 2rem;

  // zaokrąglenia 
 
  $border-radius-large: 0.5rem;
  $border-radius-small: 0.25rem;